## Oscar Hernández Terán
Bachelor's degree:
        Geophysical Engineer

## Variable names
#### The recommended convenction is that variable names are typed in lowercase letters and words are separated by a underscore

In [1]:
## Variable names
z = 100
y = 6.0
s = "Artificial"
data_science = true
bool = false

false

## Operators

In [2]:
a = 1
b = 5.5
c = 3

## Arithmetic
println("Sum:              ", a+b)
println("Subtract:         ", a-b)
println("Multiplication:   ", a*c)
println("Division:         ", a/b)
println("Power:            ", b^3)

println("----------------------------------------------------------")
## Updating operators
x = 2
y = 3
println("x = y + 2:   ", x += 2)
println("y = y - 2:   ", y -= 2)
println("x = x * 10:  ", x *= 10)

println("----------------------------------------------------------")
## Comparison
println(4 == 4)
println(5 != 8)
println(3 <= 2)

Sum:              6.5
Subtract:         -4.5
Multiplication:   3
Division:         0.18181818181818182
Power:            166.375
----------------------------------------------------------
x = y + 2:   4
y = y - 2:   1
x = x * 10:  40
----------------------------------------------------------
true
true
false

## Operator precedence

#### When constructing expressions with multiple operators, the order in which these operators are applied to the expression is known as operator precedence.

In [3]:
x = 2
y = 3
z = 4
println(x*y+z^2)
println(x*(y+(z^2)))
println((x*y)+(z^2))

22
38
22

## Types
#### The Julia float type and all operations performed on it adhere to IEEE 754 standard (Zuras et al., 2018)
#### In Julia, a string is a sequence of Unicode code points, using UTF-8 encoding.
#### Char is a numeric value representing a Unicode code point

In [4]:
## Computer's architecture type
println(Sys.WORD_SIZE)

## Size of te default primitive
println(typemax(Int))

64
9223372036854775807

In [5]:
# Integers
int_1 = 1
println(typeof(int_1))
println("------------------------------------")

# Floats
f_1 = 1.0
f_2 = 15e-5
# Format Float32
f_3 = 2.5f-4
println(typeof(f_3))

# Digit separation 
println(7.4_4 == 7.44)

# Values Errors
println(isnan(0/0))
println(isinf(10/0))
println(isinf(10/0))
println("------------------------------------")

Int64
------------------------------------
Float32
true
true
true
true
------------------------------------
String
 I have a "quote" character
------------------------------------

In [15]:
# Strings
# The strings are immutable, and are defined by double or triple quotes
s1 = "Hello world"
s2 = """ I have a "quote" character """
println(typeof(s2))
println(s2)

# Strings ca be sliced
my_string = "Julia is very fast"
println(my_string[1:8])
println(my_string[end])
println(my_string[end-3:end])

# The operator concatenation is *
my_string_2 = " and works for Data Science"
message = my_string * my_string_2
# Another way
message_2 = string(my_string, my_string_2)
println(message)
println(message_2)
println("------------------------------------")

String
 I have a "quote" character
Julia is
t
fast
Julia is very fast and works for Data Science
Julia is very fast and works for Data Science
------------------------------------

### Strings can be compared lexicographically using comparison operators.
#### Some methods of strings are:
1. findfirst(pat, str)
2. occursin(substr, str)
3. repeat(str, n)
4. lenth(str)
5. replace(str, ptn => rep)

#### Julia fully supports regular expressions (regexes):
1. occursin(regex, str)
2. match(regex, str)
3. eachmatch(regex, str)

## Tuples 
#### Tuples are a Julia type. Fields are accessed by ther index, and are defined using brackets (). Tuples are inmmutables.

In [19]:
tup1 = (2., 5.6, 8.9, 2. ,5.)
tup2 = (8, "Julia", 9.0, 4.7, "Data")

println(typeof(tup1))
println(typeof(tup2))

a,b,c = ("Science", 9004, "Covid")
println(a)
println(b)
println(c)

NTuple{5,Float64}
Tuple{Int64,String,Float64,Float64,String}
Science
9004
Covid